{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
        <div >
            <div >
                <div > 欢迎来到E-Book !</div>
                <div >
                    {% if request.session.islogin %}
                        <div style="text-align:right">
                            欢迎你: <em>{{request.session.username }}</em>
                            <span> | </span>
                            <a href="{% url 'users:login' %}"> 注销 </a>
                        </div>
                    {% else %}
                        <div style="text-align:right">
                            <a href="{% url 'users:login' %}"> 登录 </a>
                            <span> | </span>
                            <a href="{% url 'users:register' %}"> 注册 </a>
                        </div>
                    {% endif %}
                        <div style="text-align:right">
                            <span> | </span>
                            <a href="{% url 'users:user' %}"> 用户中心 </a>
                            <span> | </span>

                            <span> | </span>
                            <a href="{% url 'order:place' %}"> 我的订单 </a>
                        </div>
                </div>
            </div>
        </div>

    {# 网页顶部搜索栏 #}
        <div >
            <a href="{% url 'books:index' %}"><img src="{% static '/books/images/logo.png' %}" style="width: 160px; height:130px;" alt="E-Book's Logo"/></a>
            <div >
                <form method="get" action="/search/">
                    <input type="text" name="q" placeholder="搜索商品">
                    <input type="submit" name="" value="搜索">
                </form>
            </div>

            <div >

                <!-- <div class="book_count fl" id="show_count">0</div> -->
            </div>
        </div>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
